<div class="center Jumbotron">
  <h1>Welcome to MyRecipes App</h1>
  <h2>
    This is the webpage for the professional Ruby on Rails Developer Course on Udemy.
  </h2>
  <%= link_to "Sign Up Now!", "", class: "btn btn-lg btn-success" %>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class="mldraw">
      View Recipes as Guest User
    </h3>
    <h2 class="left">
      Browse and View Recipes as a Guest and Sign up Later
    </h2>
    <p>
      <%= link_to "Browse Recipe Listings", recipes_path, class: "btn btn-warning btn-small"%>
    </p>
  </div>
  <div class="col-lg-4">
    <h3 class="mldraw">
      View Recipes as Guest User
    </h3>
    <h2 class="left">
      Browse and View Recipes as a Guest and Sign up Later
    </h2>
    <p>
      <%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small"%>
    </p>
  </div>
  <div class="col-lg-4">
    <h3 class="mldraw">
      View Recipes as Guest User
    </h3>
    <h2 class="left">
      Browse and View Recipes as a Guest and Sign up Later
    </h2>
    <p>
      <%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small"%>
    </p>
  </div>
</div>